@import "reset";
@import "header";
@import "mainBlock";
@import "guestBlock";
@import "footer";

@media screen and (max-width: 767px) {
  header {
    nav {
      a {
        font-size: 16px;
      }
    }
    .backImage {
      h1 {
        font-size: 22px;
      }
      p {
        font-size: 30px;
      }
      a {
        font-size: 12px;
        padding: 10px;
      }
    }
  }

  main {
    .guarantee {
      h2 {
        font-size: 24px;
      }
      .guaranteeList {
        h3 {
          font-size: 20px;
        }
      }
    }
    .spectaclesFrame {
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 20px;
      }
      .classic {
        img {
          width: 280px;
        }
      }
    }
  }
  .recommend {
    h2 {
      font-size: 24px;
    }

    .comments {
      flex-wrap: wrap;

      .guest {
        width: 45%;
      }
    }
  }
  .form {
    h2 {
      font-size: 24px;
    }
    p {
      width: 360px;
      font-size: 16px;
    }
    form {
      width: 360px;
    }
    button {
      padding: 10px 80px;
    }
  }
  footer {
    .footerContent {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 28px;
      ul {
        justify-content: space-between;

        width: 100%; //Try not setting width and observe the difference.
      }
      li {
        margin-bottom: 32px;
      }
      .sns {
        gap: 48px;
      }
    }
    .mobile {
      display: flex;
      flex-wrap: wrap;

      padding-bottom: 24px;

      img {
        margin-right: 16px;
        width: 30px;
        height: 30px;
      }
      a {
        font-size: 18px;
      }
    }
    .policy {
      font-size: 12px;
      a {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  header {
    nav {
      display: flex;
      flex-direction: column;
      // border: 1px solid black;
      ul {
        display: block;
        margin: 0px;
        // border: 1px solid black;
        width: 100%;
        li {
          border: 1px solid rgba(125, 54, 54, 0.5);
          a {
            display: block;
            text-align: center;
            margin: 12px;
          }
        }
      }
    }
    .backImage {
      min-height: 30vh;
      
      h1 {
        font-size: 16px;
      }
      p {
        font-size: 18px;
      }
      .topic {
        margin: 48px;
      }
    }
  }
  main {
    .guarantee {
      h2 {
        font-size: 16px;
      }
      .guaranteeList {
        h3 {
          font-size: 20px;
        }
        .pic {
          width: 160px;
        }
      }
    }
    .spectaclesFrame {
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 16px;
      }
      .classic {
        img {
          width: 120px;
        }
      }
    }
  }
  .recommend {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
    }
  }
  .form {
    h2 {
      font-size: 20px;
    }
    p {
      width: 260px;
      font-size: 14px;
    }
    form {
      width: 260px;
    }
    button {
      padding: 10px 80px;
    }
  }
  footer {
    .footerContent {
      ul {
        gap: 10px;
      }

      a {
        font-size: 12px;
      }
    }
    .mobile {
      flex-direction: column;

      img {
        margin-right: 8px;
        width: 20px;
        height: 20px;
      }
      a {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  main {
    .recommend {
      .comments {
        max-width: 90%;
      }
    }
  }
}
