/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 48px;
  color: #650300;
  font-weight: bold;
  text-align: center;
}

header nav {
  background-color: #AA0601;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
header nav img {
  width: 80px;
  margin: 16px auto;
}
header nav ul {
  margin: 16px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}
header nav ul li {
  font-size: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
header .backImage {
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
  background-size: cover;
  min-height: 90vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
header .backImage .topic {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 15%;
}
header .backImage h1,
header .backImage p {
  color: #650300;
  margin-bottom: 15px;
}
header .backImage h1 {
  font-size: 36px;
}
header .backImage p {
  font-size: 64px;
  font-weight: bold;
}
header .backImage a {
  background-color: #aa0601;
  padding: 0.75rem 1.5rem;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.guarantee {
  background: #fbf2f2;
}
.guarantee h2 {
  padding-top: 80px;
}
.guarantee .guaranteeList {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 32px auto 0 auto;
}
.guarantee .guaranteeList .pic {
  width: 306px;
}
.guarantee .guaranteeList .pic img {
  width: 83px;
  height: 83px;
}
.guarantee .guaranteeList .pic a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guarantee .guaranteeList h3 {
  color: #650300;
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
}
.guarantee .guaranteeList p {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 80px;
}

.spectaclesFrame .classic h2 {
  margin-top: 80px;
}
.spectaclesFrame .classic ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-bottom: 80px;
}
.spectaclesFrame .classic ul img {
  width: 416px;
}
.spectaclesFrame h3 {
  text-align: center;
  color: #aa0601;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  margin: 8px;
  line-height: 72px;
}
.spectaclesFrame a {
  text-decoration: none;
}
.spectaclesFrame .design {
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spectaclesFrame .design h2 {
  padding-top: 80px;
  padding-bottom: 48px;
  color: #ffffff;
}
.spectaclesFrame .design ul {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  max-width: 67.5%;
  margin-bottom: 80px;
}
.spectaclesFrame .design ul li {
  width: 50%;
}
.spectaclesFrame .design ul li img {
  max-height: 312px;
}
.spectaclesFrame .design h3 {
  margin: 8px auto;
  color: #AA0601;
}

.recommend {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommend h2 {
  padding-top: 48px;
  margin-bottom: 80px;
}
.recommend h3,
.recommend p {
  font-size: 16px;
  margin: auto 16px;
  line-height: 24px;
}
.recommend .comments {
  max-width: 67.5%;
  display: flex;
  gap: 0 24px;
}
.recommend .guest {
  display: flex;
  flex-direction: column;
  border: 1px solid #dee2e6;
  margin-bottom: 80px;
}
.recommend .guest h3 {
  margin-top: 16px;
  margin-bottom: 8px;
}
.recommend .guest p.comment-date {
  margin-top: 72px;
  margin-bottom: 16px;
  color: #707070;
}

.form {
  background-color: #fbf2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form h2 {
  padding-top: 80px;
  padding-bottom: 48px;
}
.form p {
  margin-bottom: 24px;
  width: 636px;
  line-height: 30px;
  font-size: 20px;
}
.form form {
  width: 636px;
}
.form form div,
.form form input,
.form form textarea {
  width: 100%;
  background-color: #fbf2f2;
}
.form form input,
.form form textarea {
  border: 1px solid black;
  margin-top: 8px;
  margin-bottom: 16px;
}
.form .agreement {
  margin-bottom: 48px;
}
.form .agreement input {
  width: 3%;
  border: 1px solid black;
}
.form button {
  background-color: #aa0601;
  color: #fff;
  padding: 16px 176px;
  font-size: 1rem;
  border: 0px;
  margin-bottom: 80px;
}

footer {
  background-color: #aa0601;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footerContent {
  width: 67.5%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 36px;
}
footer img {
  width: 48px;
  height: 48px;
}
footer ul {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 48px;
}
footer .sns {
  display: flex;
  gap: 32px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer .mobile {
  border-bottom: 1px solid white;
  width: 67.5%;
  font-size: 36px;
  padding-bottom: 32px;
}
footer .mobile img {
  vertical-align: middle;
  margin-right: 32px;
}
footer .mobile a {
  line-height: 54px;
}
footer .policy {
  width: 67.5%;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
}
footer .policy .privacy {
  display: flex;
}
footer .policy a {
  margin-left: 48px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  header nav a {
    font-size: 16px;
  }
  header .backImage h1 {
    font-size: 22px;
  }
  header .backImage p {
    font-size: 30px;
  }
  header .backImage a {
    font-size: 12px;
    padding: 10px;
  }
  main .guarantee h2 {
    font-size: 24px;
  }
  main .guarantee .guaranteeList h3 {
    font-size: 20px;
  }
  main .spectaclesFrame h2 {
    font-size: 24px;
  }
  main .spectaclesFrame h3 {
    font-size: 20px;
  }
  main .spectaclesFrame .classic img {
    width: 280px;
  }
  .recommend h2 {
    font-size: 24px;
  }
  .recommend .comments {
    flex-wrap: wrap;
  }
  .recommend .comments .guest {
    width: 45%;
  }
  .form h2 {
    font-size: 24px;
  }
  .form p {
    width: 360px;
    font-size: 16px;
  }
  .form form {
    width: 360px;
  }
  .form button {
    padding: 10px 80px;
  }
  footer .footerContent {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 28px;
  }
  footer .footerContent ul {
    justify-content: space-between;
    width: 100%;
  }
  footer .footerContent li {
    margin-bottom: 32px;
  }
  footer .footerContent .sns {
    gap: 48px;
  }
  footer .mobile {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;
  }
  footer .mobile img {
    margin-right: 16px;
    width: 30px;
    height: 30px;
  }
  footer .mobile a {
    font-size: 18px;
  }
  footer .policy {
    font-size: 12px;
  }
  footer .policy a {
    font-size: 12px;
  }
}
@media screen and (max-width: 460px) {
  header nav {
    display: flex;
    flex-direction: column;
  }
  header nav ul {
    display: block;
    margin: 0px;
    width: 100%;
  }
  header nav ul li {
    border: 1px solid rgba(125, 54, 54, 0.5);
  }
  header nav ul li a {
    display: block;
    text-align: center;
    margin: 12px;
  }
  header .backImage {
    background-size: auto 300px;
  }
  header .backImage h1 {
    font-size: 16px;
  }
  header .backImage p {
    font-size: 18px;
  }
  header .backImage .topic {
    margin: 48px;
  }
  main .guarantee h2 {
    font-size: 16px;
  }
  main .guarantee .guaranteeList h3 {
    font-size: 20px;
  }
  main .guarantee .guaranteeList .pic {
    width: 160px;
  }
  main .spectaclesFrame h2 {
    font-size: 20px;
  }
  main .spectaclesFrame h3 {
    font-size: 16px;
  }
  main .spectaclesFrame .classic img {
    width: 120px;
  }
  .recommend h2 {
    font-size: 20px;
  }
  .recommend p {
    font-size: 12px;
  }
  .form h2 {
    font-size: 20px;
  }
  .form p {
    width: 260px;
    font-size: 14px;
  }
  .form form {
    width: 260px;
  }
  .form button {
    padding: 10px 80px;
  }
  footer .footerContent ul {
    gap: 10px;
  }
  footer .footerContent a {
    font-size: 12px;
  }
  footer .mobile {
    flex-direction: column;
  }
  footer .mobile img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }
  footer .mobile a {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  main .recommend .comments {
    max-width: 90%;
  }
}/*# sourceMappingURL=Main.css.map */